.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.headerTasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  max-width: 46rem;

  margin-top: 4rem;
}
